<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="https://acloud.guru/">
    <img src="/assets/acloudguru_long_logo.png" width="300" class="d-inline-block align-top brand-img" alt="A Cloud Guru Logo">
  </a>
</nav>

<!-- Content for the main page -->
<div class="container-fluid background">
    <div class="container tools-body">
      <div class="row">
      <div class="header text-center">
        <div class="jumbotron">
            <h1 class="display-3">{{title}}</h1>
            <p class="lead">Manually uploading and deploying code to update applications is a thing of the past. Using AWS tools like CodePipeline, CodeBuild, & S3 students will build a system that allows them to write and push code that triggers seamless and automatic deployments. Students will also setup an email notification that is sent to developers if a status change is made in the build process using CloudWatch & SNS. Let the free times roll with Continuous Deployments.</p>
            <p><a class="btn btn btn-success" href="https://github.com/ACloudGuru/Let_the_Free_Times_Roll_BT" role="button">See source code <i class="fa fa-code"></i></a></p>
          </div>
          <img class="mx-auto d-block" style="max-width: 1000px; padding-top: 50px;"src="assets/continious_deployment.png" alt="Continious Deployment Architecture diagram">
      </div>
    </div>
    <div class="row">
        <div class="col-2">
          <img class="img-icon" src="assets/DeveloperTools_AWSCodePipeline_LARGE.png" alt="AWS Code Pipeline icon">
        </div>
        <div class="col-10">
          <h5><a href="https://aws.amazon.com/codepipeline/">CodePipeline</a></h5>
          <p>AWS CodePipeline is a continuous integration and continuous delivery service for fast and reliable application and infrastructure updates. CodePipeline builds, tests, and deploys your code every time there is a code change, based on the release process models you define. This enables you to rapidly and reliably deliver features and updates. You can easily build out an end-to-end solution by using our pre-built plugins for popular third-party services like GitHub or integrating your own custom plugins into any stage of your release process. With AWS CodePipeline, you only pay for what you use. There are no upfront fees or long-term commitments.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
          <img class="img-icon" src="assets/DeveloperTools_AWSCodeBuild_LARGE.png" alt="AWS Code Build icon">
        </div>
        <div class="col-10">
            <h5><a href="https://aws.amazon.com/codebuild/">CodeBuild</a></h5>
            <p>AWS CodeBuild is a fully managed build service that compiles source code, runs tests, and produces software packages that are ready to deploy. With CodeBuild, you don’t need to provision, manage, and scale your own build servers. CodeBuild scales continuously and processes multiple builds concurrently, so your builds are not left waiting in a queue. You can get started quickly by using prepackaged build environments, or you can create custom build environments that use your own build tools. With CodeBuild, you are charged by the minute for the compute resources you use.</p>
        </div>
    </div>
    <div class="row" >
        <div class="col-2">
          <img class="img-icon" src="assets/Storage_AmazonS3_bucket_LARGE.png" alt="AWS S3 icon">
        </div>
        <div class="col-10">
            <h5><a href="https://aws.amazon.com/getting-started/projects/host-static-website/">S3 Hosting</a></h5>
            <p>Static websites deliver HTML, JavaScript, images, video and other files to your website visitors, and contain no application code. They are best for sites with few authors and relatively infrequent content changes, typically personal and simple marketing websites. Static websites are very low cost, provide high-levels of reliability, require almost no IT administration, and scale to handle enterprise-level traffic with no additional work.</p>
          </div>
    </div>
    <div class="row" >
        <div class="col-2">
          <img class="img-icon" src="assets/Messaging_AmazonSNS_LARGE.png" alt="AWS SNS icon">
        </div>
        <div class="col-10">
            <h5><a href="https://aws.amazon.com/sns/">SNS</a></h5>
            <p>Amazon Simple Notification Service (SNS) is a flexible, fully managed pub/sub messaging and mobile notifications service for coordinating the delivery of messages to subscribing endpoints and clients. With SNS you can fan-out messages to a large number of subscribers, including distributed systems and services, and mobile devices. It is easy to set up, operate, and reliably send notifications to all your endpoints – at any scale. You can get started using SNS in a matter of minutes using the AWS Management Console, AWS Command Line Interface, or using the AWS SDK with just three simple APIs. SNS eliminates the complexity and overhead associated with managing and operating dedicated messaging software and infrastructure.</p>
          </div>
    </div>
    <div class="row" >
        <div class="col-2">
          <img class="img-icon" src="assets/ManagementTools_AmazonCloudWatch_LARGE.png" alt="AWS Cloud Watch icon">
        </div>
        <div class="col-10">
            <h5><a href="https://aws.amazon.com/cloudwatch/">CloudWatch</a></h5>
            <p>Static websites deliver HTML, JavaScript, images, video and other files to your website visitors, and contain no application code. They are best for sites with few authors and relatively infrequent content changes, typically personal and simple marketing websites. Static websites are very low cost, provide high-levels of reliability, require almost no IT administration, and scale to handle enterprise-level traffic with no additional work.</p>
        </div>
    </div>
    <footer class="footer">
      <p>© Copyright {{date}}</p>
    </footer>
  </div>
</div>




